<!doctype html>
<script src="/code/chapter/16_game.js"></script>
<script src="code/levels.js"></script>
<!-- jquery模块 -->
<!-- <script type="text/javascript" src="javascripts/jquery.min.js"></script> -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="css/game.css">
<style type="text/css">
  .select-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    flex-flow: column;
  }
  .user-box{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  #button-1 {
    left: 30%;
  }
  #username,#best_score{
      font-size: 30px;
      text-align: center;
      height: 35px;
  }
  #test2{
    margin-left: 20px;
  }
</style>

<body>
  <script>
    runGame(GAME_LEVELS, DOMDisplay);
  </script>

  <div class="select-box">
    <div class="user-box">
      <strong id="test">用户名</strong>: <p id="username">{{user.username}}</p><br>
      <strong id="test2">历史最高成绩</strong>: <p id="best_score">{{user.score}}</p><br>
    </div>
    <div>
      <a href="/RankingList" class="btn btn-default btn-Score" id="button-2">排行榜</a>
      <a href="/profile" class="btn btn-default btn-game" id="button-1">返回菜单</a>
    </div>
  </div>
</body>