<!-- <div class="jumbotron text-center">
  <h1><span class="fa fa-lock"></span> 欢迎来到游戏平台</h1>

  <p>注册或登录</p>

  <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> 登录</a>
  <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> 注册</a>
</div>

<!doctype html> -->

<html lang="zh-ch">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="css/img/logo.jpg" type="image/x-icon">
    <title>Cross-platform-JS</title>
</head>

<script src="/code/chapter/16_game.js"></script>
<script src="code/levels.js"></script>
<!-- jquery模块 -->
<script type="text/javascript" src="javascripts/jquery.min.js"></script>

  <div class="bg">
    <div class="proflieCard">
        <div class="logo1">
            <img src="css/img/logo.jpg" alt="" class="logo2">
        </div>
        <p class="name">Cross-platform-JS</p>
        
        <div class="slogan" id="slogan">
            <p class="slogan2" id="slogan2">如果奇迹有颜色，那么一定是橙色！</p>
        </div>
        <div class="buttons">
            <button class="button1">
              <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> 登录</a>
            </button>
            <button class="button1">
              <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> 注册</a>
            </button>
        </div>

        <footer class="footer">
            <p class="footer2">Openned in <a target="_blank" href="https://github.com/Cross-platform-JS/Game">Github</a></p>

            <p class="footer2">&copy2022 Cross-platform-JS &nbsp 素材来源 网络 &nbsp 作者 Cross-platform-JS</p>
        </footer>

    </div>

    
</div>



<!-- <img src="img/lihui.texb" class="lihui" id="lihui" alt=""> -->
<div class="background" id="background"></div>
<div class="yinghua" id="yinghua"></div>
<div class="background2" id="background2"></div>



  
</body>

</html>