<head>
  <style type="text/css">
  .row{
      width: 100%;
  }
  .col-sm-6{
      left: 10%;
      width: 80%;
      margin: auto;
  }
  .select-box{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  #button-1{
     left: 30%;
  }
  .well-1,h3,p{
      text-align: center;
  }
  h1{
      margin-top: -100px;
  }
  </style>
</head>

<div class="page-header text-center" id="title">
  <h1><span class="fa fa-check-square"></span> 登录成功</h1>
</div>

<div class="row">
  <div class="col-sm-6">
      <div class="well" id="well-1">
          <h3><span class="fa fa-user"></span>用户信息</h3>

          <p>
              <strong>id</strong>: {{user.id}}<br>
              <strong>用户名</strong>: {{user.username}}<br>
              <!-- <strong>密码</strong>: {{user.password}}<br> -->
              <strong>分数</strong>: {{user.score}}
          </p>

      </div>
  </div>

</div>
<div class="select-box">
  <a href="/game" class="btn btn-default btn-game" id="button-1">进入游戏</a>
  <a href="/RankingList" class="btn btn-default btn-Score"id="button-2">排行榜</a>
  <a href="/logout" class="btn btn-default btn-Score">注销</a>
</div>