<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>用户注册</title>
    <link rel="stylesheet" href="css/signup.css" />
  </head>
  <body>
    <div class="login">
      <!-- <h2>用户登录</h2> -->
      <h2><span class="fa fa-sign-in"></span>用户注册</h2>

      {{#if message}}
      <div class="alert alert-danger">{{message}}</div>
      {{/if}}
<div class="photo">
          <img src="css/img/logo.jpg" class="user"/>
      </div>
      <form action="/signup" method="post">
        <div class="login_box">
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="用户名"
          />
        </div>

        <div class="login_box">
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="密码"
          />
        </div>
        <a class="sure">
          <button
          type="submit"
          class="btn"
          style=" border: 0; font-size: 16px"
        >
          确认注册
          <span></span>
        <span></span>
        <span></span>
        <span></span>
        </button>
      </a>
      </form>

     

      <div class="bottom">
        <p>已有账号？ 点击这里<a href="/login">登录</a></p>
        <p><a href="/">返回首页</a></p>
      </div>
    </div>
    </script>

  </body>
</html>
